@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-almarai: "Almarai", sans-serif;
}

html {
  font-family: var(--font-inter);
  direction: ltr;
}

html[lang="ar"] {
  font-family: var(--font-almarai);
  direction: rtl;
}

@layer components {
  .custom-underline-left {
    @apply relative inline-block 
           after:content-[''] 
           after:absolute 
           after:right-2 
           after:bottom-[-4px] 
           after:w-1/3 
           after:h-1 
           after:bg-[#5785FF] 
           after:rounded-full;
  }
}

@layer components {
  .custom-underline-right {
    @apply relative inline-block 
           after:content-[''] 
           after:absolute 
           after:left-2 
           after:bottom-[-4px] 
           after:w-1/3 
           after:h-1 
           after:bg-[#5785FF] 
           after:rounded-full;
  }
}
